@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  background-color: white;
  color: black;
}

#container {
    display: flex;
    justify-content: space-between;
    margin: 0px 1.5em;
}

#departures {
    box-sizing: border-box;
}

#departure-list {
    padding: 0;
}

.departure-list-item {
    display: flex;
    align-items: center;
    padding: 20px 12px;
}

.departure-list-item:not(:last-child) {
    border-bottom: 1px solid #c4c4c4;
}

.departure-line-number {
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    width: 28px;
    height: 28px;
    margin-right: 10px;

}

.departure-line-title {
    flex: 1 1 auto;
    margin-right: 2.5em;
    font-size: 1em;
    font-weight: 300;
}

.departure-time {
    flex: 0 1 auto;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
}

#buttons {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

